.Questionnaire {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.Questionnaire__button {
    border: none;
    background: green;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}